
*{
    overflow: hidden;
}
/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 0.8rem;
    padding: 0px 5px;
    padding-bottom: 5px;
}
/* Home */
#home{
    height: 820px;
    padding: 5px 30px;
}
#home::before{
    height: 890px;
}



/* Services */
#services{
    flex-direction: column;
}
#services .box{
   padding: 25px; 
   margin:  2px 0px;
}
#services .box img{
  width: 200px;
  
}



/* Clients */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width:110px;
    padding: 4px 6px;
    height: auto;
}



/* Contact Us  */
#contact-box form{
    width: 80%;
}
/* Utility class */
#h-primary{
    font-size: 1.5rem;
}
.btn{
    font-size: 20px;
    padding: 10px 10px;
}



